//fonts
$fte-source__lato: 'Lato', sans-serif;

$fte-principal: $fte-source__lato;

//colors

$black38: #383938;
$blue28: #284f7c;
$grayf7: #f7f8f7;
$gray79: #797a79;
$green32: #32bea6;
$pinkfd: #fd9d9e;
$whiteff: #fff;

$bg-body: $grayf7;
$bg-slider: $whiteff;
$bg-image-detalle: $green32;
$lt-principal: $black38;
$lt-segundaria: $gray79;
$lt-titulos: $blue28;
$lt-acentos: $pinkfd; 