$black38: #383938;
$blue2e: #2e4b64;
$grayf7: #f7f8f7;
$green32: #32bea6;
$pinkfd: #fd9d9e;
$whiteff: #fff;

$bg-body: $grayf7;
$bg-slider: $whiteff;
$bg-image-detalle: $green32;
$lt-principal: $black38;
$lt-titulos: $blue2e;
$lt-acentos: $pinkfd; 