//- Declaration
mixin caracteristicas(icono, titulo, lead)
  li.detalle__caracteristica
    img.detalle__icono(src=icono alt=titulo)
    h4.detalle__titulo= titulo
    p.detalle__lead= lead
.nuestros-vehiculos
  h2.nuestros-vehiculos__titulo Nuestros Vehiculos
  p.nuestros-vehiculos__lead Lorem ipsum fringillia conubia Molestie. A tempus mi 
  .nuestros-vehiculos__slider
    include vehiculos-slider.pug 
  .nuestros-vehiculos__detalle
    .detalle__image-box
      img.detalle__image(src="assets/images/default.png" alt="Mini Van")
    .detalle__datos
      h4.detalle__titulo Mini Van
      p.detalle__puestos Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, libero optio qui quo itaque recusandae impedit dignissimos nam beatae corrupti.
      ul.detalle__caracteristicas
        +caracteristicas('assets/images/float.png', "Capacidad Amplia", "Lorem ipsum dolor sit amet, consectetur adipisicing.")
        +caracteristicas('assets/images/float.png', "Capacidad Amplia", "Lorem ipsum dolor sit amet, consectetur adipisicing.")
        +caracteristicas('assets/images/float.png', "Capacidad Amplia", "Lorem ipsum dolor sit amet, consectetur adipisicing.")

