@import url('https://fonts.googleapis.com/css?family=Lato');
@import 'core/variables';

body {
  background-color: $bg-body;
  color: $lt-principal;
}

.container {
  margin: 0 auto;
  max-width: 1200px,
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: $fte-principal;
}

h1,
h2,
h3,
h4,
h5 {
  color: $lt-titulos;
  letter-spacing: 0.03em;
  text-align: center;
  font-weight: normal;
}


@import 'partials/nuestros-vehiculos';
