@import 'core/variables';

body {
  background-color: $bg-body;
  color: $lt-principal;
}

.container {
  overflow: hidden;
  margin: 0 auto;
  max-width: 1200px,
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}

@import 'partials/nuestros-vehiculos';
